
*{
	font-family: 'Open Sans', sans-serif;
}

body{
	font-size: 8px;
}

h2{
	font-family: 'Montserrat', sans-serif;
}

h3{
	font-family: 'Varela Round', sans-serif;
}

header{
	height: 85px;
}

.section.section-padding{
	padding: 20px 1.5rem;
}
#barra-nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-boton{
	color: white;
    border-radius: 50px;
    padding: 8px 36px;
    font-size: 18px;
    background: linear-gradient(180deg, #AD00FF 0%, #001AFF 100%);
    box-shadow: 10px 11px 15px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    font-weight: bold;
}

.navbar-brand.nav-logo{
	display: flex;
	align-items: center;
}
.logo{
	fill: #8B00CC;
	height: 25px;
}

#logo_ls{
	height: 100%;
	display: flex;
}

#logo_ls h3{
	margin-left: 10px;
	font-weight: bold;
	color: #8B00CC;
}

.boton{
	color: white;
    border-radius: 50px;
    padding: 8px 36px;
    font-size: 18px;
    background: linear-gradient(180deg, #AD00FF 0%, #001AFF 100%);
    box-shadow: 10px 11px 15px rgba(0, 0, 0, 0.25);
    border-radius: 48px;
    font-weight: bold;
}

.hero-body.hero-padding{
	padding: 3rem 1.5rem;
}

.column.titulo-hero{
	display: flex;
	align-items: center;
}

.titulo-hero h1{
	color: #8B00CC;
}

.image.hero-img img {
	width: 85%;
	margin: 15px auto;
}

.about-me{
	background: linear-gradient(90deg, #7500AB 25.2%, #08002f 100%);
	color: white;
}

.about-me .container{
	padding: 50px 0;
}

.about-me .container h2{
	font-size: 28px;
	
	margin-bottom: 20px;
}

.about-me .container p{
	width: 75%;
	font-size: 18px;
}

.proyectos{
	text-align: center;
}

.titulo-secciones-violeta{
	display: inline-block;
	position: relative;
	color: #8B00CC;
	margin: 45px auto 0px;
	font-family: 'Montserrat';
	font-weight: 900;
	font-size: 32px;
}

.container.proyecto-1{
	background-color: white;
	height: auto;
	margin: 25px auto 40px;
	padding: 45px;
	box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
	border-radius: 30px;
	justify-content: space-between;
	text-align: left;
	align-items: center;
}

.tags{
	margin-top: 10px;	
}

.column.proyecto-img{
	display: flex;
    justify-content: center;
	align-items: center;
}

.proyecto-img img{
	width: 85%;
	float: right;
}

.container.proyecto-1 h3{
	margin-bottom: 40px;
	font-size: 36px;
	font-weight: bold;
}

.descripcion{
	width: 50%;
}

.descripcion p{
	margin-bottom: 18px;
}

.descripcion figure{
	width: 47%;
	text-align: right;
}

.proyecto-boton{
	margin-top: 35px;
}

.trabajos-diseño-cards{
	background: blue;
} 

.center{
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.container-boton{
	margin-top: 35px;
    text-align: center;
}
.modal-content{
	border-radius: 10px;
}

.descripcion-modal{
	height: 100%;
	background: white;
	padding: 25px 20px;
}


.descripcion-modal figure{
	display: flex;
	margin-top: 15px;
}

.descripcion-modal img{
	margin-right: 5px;
}

.portfolio-cards{
	border-radius: 15px;
	margin-top: 30px;
}

.portfolio-cards h3{
	margin-top: 15px;
	color: #4a4a4a !important;
}

.portfolio{
	text-align: center;
}


.modal-content.contenido-modal{
	max-height: none;
	max-width: 95%;
	width: auto;
	overflow: hidden;
	margin: 0;
}

/**
.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }**/

@media screen and (min-width: 200px){
	.boton{
		padding: 18px 10%;
	}
	.nav-logo h3{
		display: none;	
	}	
	.title.is-4.titulo-modal{
		font-size: 1.2em;
	}
	.descripcion-modal p{
		font-size: 0.8em;
	}
	.proyecto-img img{
		float: none;
	}
	#hero-description{
		font-size: 1.5em;
	}
}

@media screen and (min-width: 500px){
	.descripcion-modal p{
		font-size: 1em;
	}
	.title.is-4.titulo-modal{
		font-size: 2em;
	}
	.nav-logo h3{
		display: inline-block;	
	}
	#hero-description{
		font-size: 2rem;
	}
}

@media screen and (min-width: 768px){
	
	.container-boton{
		margin-top: 35px;
		text-align: inherit;
	}
	.proyecto-img img{
		float: right;
	}
}
